html {
    font-family: sans-serif;
    background: #000000;
    margin: 0;
    padding: 0
  }
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999;
  }

  .loading-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }

  .loading-text span {
    display: inline-block;
    margin: 0 5px;
    color: #00b3ff;
    font-family: sans-serif;
  }

  .loading-text span:nth-child(1) {
    filter: blur(0px);
    animation: blur-text 1.5s 0s infinite linear alternate;
  }

  .loading-text span:nth-child(2) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.2s infinite linear alternate;
  }

  .loading-text span:nth-child(3) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.4s infinite linear alternate;
  }

  .loading-text span:nth-child(4) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.6s infinite linear alternate;
  }

  .loading-text span:nth-child(5) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.8s infinite linear alternate;
  }

  .loading-text span:nth-child(6) {
    filter: blur(0px);
    animation: blur-text 1.5s 1s infinite linear alternate;
  }

  .loading-text span:nth-child(7) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.2s infinite linear alternate;
  }

  @keyframes blur-text {
    0% {
      filter: blur(0px);
    }

    100% {
      filter: blur(4px);
    }
  }
  .jwplayer {
      position: absolute !important
 }

 .jwplayer.jw-flag-aspect-mode {
      min-height: 100%;
      max-height: 100%
 }

 .jwplayer {
      width: 100% !important;
      height: 100% !important
 }

 .jw-state-idle .jw-svg-icon-play path {
      display: none
 }


 .jwplayer .jw-display-icon-container {
      padding: 0;
      margin: 0 11px
 }

 .jw-display-icon-next {
      visibility: visible !important
 }

 .jw-svg-icon-next path {
      display: none
 }


 .jwplayer.jw-breakpoint-0 .jw-display .jw-icon,
 .jwplayer.jw-breakpoint-1 .jw-display .jw-icon,
 .jwplayer.jw-breakpoint-2 .jw-display .jw-icon,
 .jwplayer.jw-breakpoint-3 .jw-display .jw-icon,
 .jwplayer.jw-breakpoint-4 .jw-display .jw-icon,
 .jwplayer.jw-breakpoint-5 .jw-display .jw-icon,
 .jwplayer.jw-breakpoint-6 .jw-display .jw-icon,
 .jwplayer.jw-breakpoint-7 .jw-display .jw-icon {
      width: 90px;
      height: 0px;
      line-height: 88px
 }

 .jwplayer.jw-state-idle .jw-display-icon-container {
      -webkit-border-radius: 3.094em;
      -moz-border-radius: 3.094em;
      border-radius: 3.094em;
      -webkit-transition: all .5s ease-out;
      -moz-transition: all .5s ease-out;
      -o-transition: all .5s ease-out;
      transition: all .5s ease-out;
      background: rgba(50, 152, 218, .5)
 }

 .jwplayer.jw-state-idle:hover .jw-display-icon-container {
      color: #fff;
      background: rgba(41, 183, 101, .5);
      -webkit-transform: scale(1.4);
      transform: scale(1.4)
 }

 .jwplayer.jw-state-idle .jw-display-icon-container .jw-icon .jw-svg-icon {
      height: 88px;
      width: 88px;
      line-height: 40px;
      margin-left: 8px
 }

 .jw-flag-ads .jw-vpaid-iframe {
      display: block;
 }

 .jw-vpaid-iframe {
      display: none;
 }